p {
  text-align: center;
  font-size: xx-large;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.dotted {
  border: 2px dashed rgb(118, 118, 118);
}

.background {
  background: url("https://source.unsplash.com/twukN12EN7c/1920x1080") no-repeat
    center center fixed;
  width: 100vw;
  height: 95vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.text-muted {
  font-size: 1rem;
}

/*
 liked button
 */

.iliked {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: gray;
}
.iliked-active {
  color: red;
  animation: pop 0.3s linear 1;
}
/*
 Disliked button
 */

.idisLiked {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: gray;
}
.idisLiked-active {
  color: black;
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  30% {
    transform: scale(1.3);
  }
}
